@import "./style.css";

@media screen and (max-width: 1130px) {
  .blog-items-right p {
    display: none;
  }
}

// @media screen and (max-width: 769px) {
//   .blog-items-right p {
//     display: none;
//   }
// }
@media screen and (max-width: 850px) {
  #profile-icon {
    display: none;
  }

  .hero-content-content br {
    display: none;
  }

  #next-btn,
  #back-btn {
    display: none;
  }

  /* ~~~~~~~~~~HERO SUBCONTENT~~~~~~~~~ */

  .hero-subcontent {
    height: 380px;
  }

  .hero-subcontent h2 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }

  // ~~~~~~~~~~~~~~~~~~~
  // ~~~~~~~~~~   shop content ~~~~~~~~~~~~~
  // ~~~~~~~~~~~~~~~~~~~

  .shop-content {
    height: fit-content;
    top: 1360px;
  }

  .item-card1,
  .item-card2,
  .item-card3 {
    width: 100%;
    height: 90vh;
    margin-bottom: 150px;
  }

  .products {
    margin-top: 100px;
    height: fit-content;
    line-height: 0;
    top: 1380px;
  }

  .product1-container,
  .product2-container,
  .product3-container {
    width: 100%;
    height: 100vw;
  }
  /* ~~~~~~~~~SLIDESHOW~~~~~~~~~ */
  .slideshow {
    height: fit-content;
    /* top: 100px; */
    top: 1380px;
  }

  .slide-right-container {
    height: 320px;
  }

  .slide1left {
    width: 100%;
    // height: 100vw;
  }

  .slide-right-container {
    width: 100%;
    margin-bottom: 120px;
    margin-top: -5px;
  }
  .slide-text {
    width: 95%;
    margin: 0;
    padding: 0;
  }

  // .r2 {
  //   left: 45%;
  //   top: 93%;
  // }

  /* ~~~~~~~~~TESTIMONIALS~~~~~~~~~ */
  .testimonials {
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;
  }

  .testimonials-container {
    padding: auto 10px;
    margin-top: -100px;
    height: fit-content;
  }

  /* ~~~~~~~~~blog~~~~~~~~~ */

  .blog {
    width: 100%;
    height: fit-content;
  }
  .blog-container {
    width: 100%;
    height: fit-content;
  }
  .blog-items-left {
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .blog-items-left p {
    padding: 0 40px;
  }

  .blog-items-right {
    width: 100%;
    text-align: center;
  }

  .blog-img-left-container {
    clear: right;
    height: 70vw;
  }
  .blog-left-text-container {
    padding-top: 40px;
  }

  .blog-items-right .b-i-r1-img,
  .blog-items-right .b-i-r2-img,
  .blog-items-right .b-i-r3-img {
    width: 100%;
    height: 70vw;
  }

  .blog-item-r1-text {
    margin-top: 40px;
  }
  .r2 {
    width: 100%;
    text-align: left;
  }

  .r2 p {
    display: none;
  }

  /* ~~~~~~~~~~~~~~~CONTACTS~~~~~~~~~~~ */
  .contacts-container {
    height: fit-content;
  }

  .contacts-left,
  .contacts-right {
    width: 100%;
    height: 100vw;
  }

  .contacts-text {
    padding: 0;
    margin: 0;
  }

  /* ~~~~~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~ */
  .footer-menu {
    border-bottom: none;
  }
  .footer-social-container {
    width: 97vw;
    margin-left: -40px;
    border-top: 1px solid #9c9b9b;
  }
  .menu-row1,
  .menu-row2,
  .menu-row3,
  .menu-row4 {
    width: 50%;
    padding-left: 0px;
    height: fit-content;
  }

  .currency-box,
  .social-media-box {
    width: 100%;
    height: fit-content;
    text-align: center;
  }

  .social-media-box {
    padding-left: 20px;
  }

  .currency-box {
    padding-left: 10px;
  }
  .instagram {
    padding-right: 0;
  }
  .input-form {
    padding: 0 20px;
  }
  .footer h2 {
    padding: 0 20px;
  }

  .input-form input {
    margin-bottom: 2 0px;
  }

  .copyright-container {
    margin-left: -40px;
  }

  .bank-cards {
    padding-left: 30px;
  }
  .copyright-text,
  .bank-cards {
    width: 100%;
    height: fit-content;
    text-align: center;
    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .menu-row1,
  .menu-row2,
  .menu-row3,
  .menu-row4 {
    width: 100%;
    padding-left: 0px;
    height: fit-content;
    padding-bottom: 0px;
  }

  .menu-row4 {
    padding-bottom: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  input {
    width: 300px;
  }
  .subscribe-button {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  input {
    width: 350px;
  }
  .subscribe-button {
    margin-top: 20px;
    width: 350px;
    margin-left: -2px;
  }
}

@media screen and (max-width: 400px) {
  input {
    width: 300px;
  }
  .subscribe-button {
    margin-top: 20px;
    width: 300px;
    margin-left: -2px;
  }
}

@media screen and (max-width: 1000px) {
  #header-menu-ul {
    display: none;
  }

  .fk-header,
  .wh-header {
    display: none;
  }

  .menu__btn {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  #nav-icon4,
  #nav-icon4white {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .testimonials-container {
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 750px) {
  .testimonials-container {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 600px) {
  .testimonials-container {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  .testimonials-container {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 470px) {
  .testimonials-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 380px) {
  .testimonials-container {
    padding-top: 60px;
  }
}
